/* 전체 배경 색상 변경 */
body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* 제목 스타일 header */
h1 {
  color: blue;
  text-align: center;
}
#my-favorite-foods-header {
  color: red;
}
#my-hobbies-header {
  background: blueviolet;
}

/* 문단 스타일 paragraph */
p {
  font-size: 18px;
  color: darkgreen;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: lightblue;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
